.account {
  h1 {
    margin-bottom: 2rem;
    @include media-breakpoint-down(sm) {
      margin-bottom: 0.5rem;
    }
  }
  @include media-breakpoint-down(sm) {
     margin-bottom: 4rem;
  }
  &__nav {
    width: 90%;
    padding: 2rem;
    background-color: $gray-color-2;
    line-height: 32px;
    .selected {
      color: $brand-color-green;
    }
    @include media-breakpoint-down(sm) {
      max-width: 100%;
      padding: 0;
      display: flex;
      flex-wrap: wrap;
      background-color: transparent;
    }
  }
  &__artist {
    img {
      height: 208px;
      width: 100%;
      background-color: $brand-color-green;
    }
  }
  &__menu-item {
    cursor: pointer;
    font-weight: normal;
    &:hover {
      color: $brand-color-green;
    }
    @include media-breakpoint-down(sm) {
      margin-right: 1rem;
      margin-bottom: .5rem;
      &:last-child {
        margin-left: 0;
      }
      border-radius: 16px;
      background-color: $gray-color-4;
      padding: .1em 16px;

    }
  }
  &__customer-data {
    @include media-breakpoint-down(sm) {
      margin-top: 2rem;
    }
    tr {
      height: 80px !important;
      cursor: default !important;
      &:hover {
        background-color: inherit !important;
      }
    }
    td {
      border-top: inherit !important;
      padding-left: 0.75rem !important;
      padding-right: 0.75rem !important;
      span {
        padding-left: 0.75rem !important;
        padding-right: 0.75rem !important;
      }
    }
    .data-value {
      min-width: 200px;
    }
    .edit {
      min-width: 80px;
      text-align: right;
    }
    .customer-email {
      .form-control {
        padding-left: inherit !important;
      }
    }
  }
}