.artist {
  &__image {
    &__edit-box {
      display: flex;
      position: relative;
      min-height: 300px;
      max-height: 500px;
      img {
        position: absolute;
        height: 100%;
      }
      .button {
        z-index: 15;
        width: 80px;
        position: absolute;
        text-align: center;
      }
      .dropzone {
        position: absolute;
        //width: 610px;
        //height: 208px;
      }
    }
  }
}
