a.btn {
  display: inline-block;
}
.btn {
  transition: 0.3s;
  padding: inherit !important;
  border-radius: $button-border-radius;
  font-size: 20px;
  line-height: 56px;
  cursor: pointer;
  height: 56px;
  text-align: center;
  vertical-align: middle;
  position: relative;
  &.home__button {
    text-transform: uppercase;
    font-size: $font-size-h3;
    color: $white;
    background-color: transparent;
    border: 1px solid $white;
    padding: $global-padding $global-padding * 2;
    &:hover {
      background-color: $white;
      color: $body-color;
    }
  }
  &.primary {
    background-color: $brand-color-green;
    color: $white;
    padding: 0 $global-padding * 4;
    font-weight: 300;
    &:hover {
      background-color: darken($brand-color-green, 5%);
    }
    //input[type="submit"] {
    //  background-color: transparent;
    //  padding: inherit;
    //  //width: 100%;
    //  height: 100%;
    //  border: none;
    //}
  }
  &.secondary {
    border: 1px solid $brand-color-green;
    padding: $global-padding $global-padding * 2 !important;
    background-color: transparent;
    color: $brand-color-green;
    &:hover {
      border-color: darken($brand-color-green, 10%);
      color: darken($brand-color-green, 10%);
    }
  }
  &.danger {
    background-color: $red;
    color: $white;
    padding: $global-padding $global-padding * 4;
    &:hover {
      background-color: $darkred
    }
  }
  &.checkout {
    background-color: $gray;
    border: 0;
    padding: $global-padding / 2 $global-padding * 2;
    text-transform: none;
  }
  &.btn-link {
    padding: 0;
    vertical-align: baseline;
    color: $gray;
    text-transform: none;
  }
  &-text {
    position: absolute;
    margin: auto;
    background-color: $brand-color-green;
    color: $white;
  }
  &-row {
    margin-left: 0px;
    margin-right: 0px;
    justify-content: space-between;
  }
}

.btn-next {
  line-height: 16px;
  font-size: 16px;
  margin-left: auto;
  margin-right: auto;
  &.disabled {
    cursor: not-allowed;
  }
}