.carousel {
  &__slide {
    height: 350px;
    overflow: hidden;
  }
  &__controls {
    margin: auto;
    text-align: center;
    &__button {
      display: inline-block;
      height: 3px;
      width: 36px;
      background-color: $brand-color-black;
      opacity: .1;
      margin: 0 .2em;
      // thin an fancy button ok but make the clickable area bigger
      &:after {
        content: "";
        padding: 20px;
        height: 3px;
        left: -10px;
        top: -10px;
      }
    }
    .active {
      background-color: $brand-color-green;
      opacity: 1;
    }
  }
}
//
.carousel-indicators {
  li {
    background-color: $gray-color-2 !important;
  }
  .active {
    background-color: $brand-color-green !important;
  }
}

.animateXyz { transition: transform 0.3s ease-out; }

.holder {
  height: 100%;
  max-height: 500px;
  height: 100%;
  overflow-y: hidden;
}

.agile {
  &__list {
    height: 100%;
  }
  &__dots {
    justify-content: center;
    list-style: none;
    margin: 20px 0;
    padding: 0;
    text-align: center;
    white-space: nowrap;
  }
  &__dot {
    margin: 0 10px;
    button {
      background-color: $gray-color-1;
      border-radius: 50%;
      width: 10px;
      height: 10px;
      border: none;
      cursor: pointer;
      display: block;
      font-size: 0;
      line-height: 0;
      margin: 0;
      transition-duration: .3s;
      padding: 0;
    }
  }
}