$chart-item-padding: 25px;
$bestseller-item-padding: 7px;

.charts {
  &-infobox {
    height: 268px;
    margin-bottom: 3em;
    img {
      height: 208px;
      width: 100%;
      background-color: $brand-color-green;
    }
    &__name {
      margin-top: .5em;
      font-size: 20px;
      margin-bottom: .3em;
    }
    &__label {
      font-size: $font-size-sm;
      opacity: 0.6;
      color: $brand-color-black;
    }
  }
  &__input {
    &__release {
      width: 100%;
      padding: 12px 20px;
      border-radius: 2px;
    }
  }
  &__display {
    display: inline-flex;
    width: 100%;
    //justify-content: center;
    //flex-direction: column;
    img {
      width: 52px;
      height: 52px;
    }
    &__info {
      padding: 12px
    }
  }
  &__rank {
    width: 30px;
  }
  &__item-box {
    display: flex;
    padding: 5px 0;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #EBE9E6;
  }
  &__search-results {
    width: 100%;
  }
  &__save-button {
    height: 48px;
    position: relative;
    background-color: $brand-color-green;
    border-radius: 2px;
    display: inline-block;
    line-height: 48px;
    width: 12em;
    color: white;
    text-align: center;
    font-size: $font-factor + em;
    vertical-align: top;

    &:hover:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: black;
      opacity: 0.1;
    }
  }
  &__detail {
    margin-top: 4em;
    &__item {
      color: $brand-color-black;
      display: flex;
      flex-direction: row;
      width: 100%;
      border-bottom: 1px solid $gray-color-2;
      position: relative;
      &:hover {
        color: $brand-color-black;
        &:after {
          content: '';
          pointer-events: none;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: $gray-color-1;
          opacity: 0.1;
        }
        .charts__detail__buttons {
          opacity: 1;
        }
      }
    }
    &__rank {
      width: 40px;
      padding: $chart-item-padding;
      font-size: $font-size-h2;
      text-align: center;
      display: flex;
      justify-content: center;
      flex-direction: column;
    }
    &__thumb {
      padding: $chart-item-padding;
      img {
        width: 60px;
        height: 60px;
      }
    }
    &__info-box {
      padding: $chart-item-padding;
      width: 100% !important;
      display: flex;
      justify-content: center;
      flex-direction: column;
      .release {
        &-artist-name {

        }
        &-title {
          opacity: 0.5;
        }
      }
    }
    &__price {
      width: 160px;
      padding: $chart-item-padding;
      display: flex;
      text-align: right;
      justify-content: center;
      flex-direction: column;
      opacity: 0.5;
    }
    &__buttons {
      opacity: 0;
      display: flex;
      justify-content: center;
      flex-direction: column;
      width: 380px;
      height: auto;
      &:hover {
        opacity: 1;
      }
    }
    .release__button-bar {
      margin-left: auto;
      margin-right: 0.3em;
      margin-top: 0;
      &__add-to-cart {
        width: 9em;
        font-size: $font-size-sm;
        letter-spacing: 1px;
        img {
          margin-right: 3px;
        }
      }
    }
    &__publisher-box {
      padding-bottom: 1em;
      border-bottom: 1px solid $gray-color-2;
      .publisher-image {
        img {
          border-radius: 6px;
          height: 192px;
          width: 300px;
        }
        padding-bottom: 1em;
      }
      .publisher-name {
        font-size: $font-size-h4;
      }
      .publisher-label {
        font-size: $font-size-sm;
        opacity: 0.6;
      }
    }
    &__more-charts {
      margin-top: 2em;
      img {
        margin-right: 0.5em;
      }
      .chart-related {
        margin-bottom: 1em;
      }
    }
  }
  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid $gray-color-2;
    .page__header {
      width: inherit;
      border: none;
    }
  }
  &__share {
    display: flex;
    justify-content: center;
    flex-direction: column;
    .social-sharing {
      //margin-left: 1em;
      display: flex;
      flex-direction: row;
      margin-bottom: 0px;
      justify-content: space-between;
      width: 50px;
      .fa {
        margin-right: inherit;
      }
    }
    &__row {
      display: flex;
      flex-direction: row;
      margin-left: auto;
      justify-content: space-between;
      width: 145px;
    }
  }
  &__overview {
    &__bestsellers {
      margin-top: 3em;
      background-color: rgba(232, 230, 224, 0.3);
      display: flex;
      flex-direction: column;
      padding: $chart-item-padding;
      position: relative;
      .release-item {
        font-size: $font-size-sm;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 60px;
        border-bottom: 1px solid #e8e6e0;
        position: relative;
        &:last-child {
          border-bottom: none;
        }
        &:hover{
          .release-thumb-box {
            .release-thumb {
              .chart-list-play {
                display: inline-block;
              }
            }
          }
          &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            margin-left: -25px;
            width: calc(100% + 50px);
            height: calc(100% + 1px);
            background-color: black;
            opacity: 0.1;
          }
        }
        .release-thumb-box {
          padding: $bestseller-item-padding+3px $bestseller-item-padding $bestseller-item-padding 0px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          position: relative;
          flex: 0 0 50px;
          .release-thumb {
            position: relative;
            height: 100%;
            img {
              position: absolute;
              margin: auto;
              top: 0px;
              left: 0px;
              width: 40px;
              height: 40px;
            }
            .chart-list-play {
              display: none;
              z-index: 1;
              position: absolute;
              margin: auto;
              top: 0px;
              left: 0px;
            }
          }
        }
      }
      .release-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        padding: $bestseller-item-padding;
        .release-title {
          opacity: 0.5;
          overflow: hidden;
          text-overflow: ellipsis;
          height: 14px;
          line-height: 14px;
        }
        .release-artist {
          overflow: hidden;
          text-overflow: ellipsis;
          height: 14px;
          line-height: 14px;
        }
      }
      .release-price-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        .release-price {
          color: $brand-color-green;
          width: 60px;
          text-align: right;
          margin-left: auto;
        }

      }
      &__header {
        font-size: $font-size-h3;
      }
    }
  }
  &__summary {
    h3 {
      a:hover {
        text-decoration: underline;
      }
    }
    padding-bottom: 3em;
    border-bottom: 1px solid $gray-color-2;
  }
}
