.checkout {
  margin-bottom: $global-margin * 5;
  padding-top: 48px;
  &__overview {
    margin-bottom: 2rem;
  }
  &__param {
    padding-left: 2rem;
    padding-right: 17px;
    padding-top: 27px;
    padding-bottom: 34px;
    height: 100%;
    border: 1px solid $gray-color-2;
    .payment__card__element {
      font-size: 12px;
      margin-right: inherit;
      font-weight: normal;
    }
    h4 {
      font-size: 16px;
      margin-bottom: 27px;
      text-transform: uppercase;
      font-weight: 300;
    }
    p {
      margin: inherit;
      line-height: 24px;
      font-size: 16px;
      font-weight: normal;
    }
    .change-link {
      cursor: pointer;
      font-size: 12px;
      height: 16px;
      color: $brand-color-green;
      &:hover {
        border-bottom: 1px solid $brand-color-green;
      }
    }
    .header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }
  &__content {
    border: 1px solid $gray-color-2;
    padding: 2em;
    &__col {
      border-right: 1px solid $gray-color-2;
      padding-bottom: 48px;
      padding-left: 71px;
      padding-right: 71px;
      position: relative;
      display: flex;
      flex-direction: column;
      &:last-child {
        border: none;
      }
    }
  }
  h2, h3 {
    margin: $global-margin * 2 0;
    text-transform: uppercase;
  }
  hr {
    margin: $global-margin * 3 0 $global-margin * 2;
  }
  &__edit-link {
    margin-top: $global-margin;
    a {
      color: $blue;
    }
  }
  &__header {
    background-color: $light-gray;
    padding: $global-padding * 1.5 0 $global-padding;
    margin-bottom: $global-margin;
    @include media-breakpoint-down(sm) {
        padding: $global-padding 0;
      & ~ .maincontent {
        margin-top: 0;
      }
    }
    a:hover {
      text-decoration: none;
    }
    img {
      vertical-align: baseline;
      margin-right: $global-margin;
      @include media-breakpoint-down(sm) {
        max-height: 25px;
        vertical-align: text-bottom;
        margin-right: 0;
      }
    }
    h1 {
      display: inline-block;
      text-transform: uppercase;
      @include media-breakpoint-down(sm) {
        font-size: 1.8rem;
        margin-bottom: 0;
      }
    }
  }
  &__login {
    margin: $global-margin * 5 0 $global-margin * 3;
    border: 1px solid $gray;
    border-radius: $button-border-radius;
    text-align: center;
    h3 {
      margin-bottom: $global-margin * 3;
      text-transform: uppercase;
    }
    .btn {
      margin: $global-margin * 2 auto 0;
      padding: $global-padding / 2 $global-padding * 2.5;
    }
    &__continue {
      padding: $global-padding * 2 0 $global-padding;
      p {
        font-size: 0.8rem;
      }
    }
    &__form {
      background-color: $light-gray;
      padding: $global-padding * 2 $global-padding * 6 $global-padding * 2;
      @include media-breakpoint-down(md) {
        padding: $global-padding * 2;
      }
      .form-group {
        text-align: left;
        &:last-of-type {
          margin-bottom: 0;
        }
      }
      a {
        color: $body-color;
        text-decoration: underline;
        font-size: 0.8rem;
      }
    }
  }
  &__thankyoupage {
    text-align: center;
    margin-top: $global-margin * 6;
    @include media-breakpoint-down(sm) {
      margin-top: $global-margin * 3;
    }
    h3 {
      text-transform: uppercase;
      margin-bottom: $global-margin * 3;
    }
    .btn {
      margin-top: $global-margin;
    }
    span {
      color: $dark-gray;
    }
    h1 {
      //font-weight: 300;
      margin-top: -$global-margin * 4;
      a {
        color: $blue;
      }
    }
    &__form {
      margin-top: $global-margin * 6;
      margin-bottom: $global-margin * 3;
      border: 1px solid $light-gray;
      border-radius: $button-border-radius;
      @include media-breakpoint-down(sm) {
        margin-top: $global-margin * 3;
      }
      .col-md-6 {
        padding: $global-padding * 3 0 $global-padding * 2;
        &:first-of-type {
          background-color: $light-gray;
          padding: $global-padding * 3 $global-padding * 4 $global-padding * 2;
          @include media-breakpoint-down(md) {
            padding: $global-padding * 3 $global-padding * 2 $global-padding * 2;
          }
        }
      }
      img {
        margin-bottom: $global-margin * 1.2;
        @include media-breakpoint-only(md) {
          margin-bottom: $global-margin * 2.4;
        }
      }
      form {
        .form-group {
          text-align: left;
        }
      }
    }
  }
  &__addresses {
    &__content {
      color: $gray-color-1;
    }
  }
  &__review {
    display: flex;
    flex-direction: column;
    .cart {
      border: 1px solid $gray-color-2;
    }
  }
  &__payment {
    &__method {
      &.radio {
        display: flex;
        span {
          margin-top: auto;
          margin-bottom: auto;
        }
      }
    }
  }
}

.payment {
  &__card {
    display: flex;
    flex-direction: row;
    &__element {
      margin-right: 16px;
      &:last-child {
        margin-right: inherit;
      }
    }
    &__image {
      margin-top: auto;
      margin-bottom: auto;
    }
    &__info {
      margin-bottom: auto;
      margin-top: auto;
    }
  }
  &__method {
    margin-top: auto !important;
    margin-bottom: auto !important;
  }
}

.proceed-btn-payment {
  margin-top: 48px !important;
}

.pay-order {
  &__panel {
    h3 {
      margin-bottom: 0.5em !important;
    }
    label {
      text-transform: uppercase;
      margin-bottom: 5px;
    }
  }
  &__header {
    margin-bottom: 3em;
  }
  &__summary {
    font-weight: 400;
    font-size: 1.5rem;
  }
}

.card-payment {
  &__expiration {
    display: flex;
    flex-direction: row;
    max-width: 250px;
    select {
      margin-right: 21px;
      &:last-child {
        margin-right: inherit;
      }
    }
  }
  .cvc {
    width: 100px;
  }
}