.Cookie {
  &--oye {
    background: $brand-color-black;
    color: white;
    padding: 1.250em;
    opacity: 0.9;
    .Cookie__button {
      background: $brand-color-green;
      padding: 0.625em 3.125em;
      color: white;
      &:hover {
        background: $brand-color-green-hover;
      }
    }
  }
}