.Cookie {
  &--oye {
    background: $brand-color-black;
    color: white;
    padding: 1.250em;
    opacity: 0.8;
    .Cookie__button {
      background: $brand-color-green;
      padding: 0.625em 3.125em;
      color: white;
      &:hover {
        background: $brand-color-green-hover;
      }
    }
  }
}

//
//.Cookie--#{$theme} {
//  background: $backgroundColor;
//  color: $fontColor;
//  padding: 1.250em;
//  .Cookie__button {
//    background: $buttonBackgroundColor;
//    padding: 0.625em 3.125em;
//    color: $buttonFontColor;
//    border-radius: $buttonRadius;
//    &:hover {
//      background: darken($buttonBackgroundColor, 10%);
//    }
//  }
//}