.footer {
  height: 70px;
  font-size: $font-size-sm;
  background-color: #fff;
  display: flex;
  border-top: 1px solid $gray-color-2;
  z-index: 11;
  position: fixed;
  bottom: 0;
  justify-content: space-between;
  .logo-copyright {
    margin: auto 0;
    padding: 16px;
    color: $gray-color-1;
  }
  .terms {
    margin: auto 0;
    a {
      color: $brand-color-green;
      padding-right: 4px;
      padding-left: 2px;
      &:last-child {
        padding-right: inherit;
      }
      &:first-child {
        padding-left: inherit;
      }
    }
  }
  .creators {
    margin: auto 0;
    padding: 16px;
  }
}
