.form-control, select, input {
  color: $body-color;
  background-color: white;
  border-radius: 2px;
  border: 1px solid $gray;
  &:focus {
    color: $body-color;
    border-color: $gray;
    background-color: $form-active;
  }
  &::placeholder {
    color: $gray;
  }
}

.help-block {
  color: $red;
  font-size: 0.8rem;
  margin-top: $global-margin / 2;
}

.radio {
  padding-top: $global-margin / 2;
  padding-bottom: $global-margin / 2;
  border-bottom: 1px solid $gray-color-2;
  &:last-child {
    border-bottom: none;
  }
  ul {
    list-style: none;
    padding-left: 0;
  }
  input {
    display: inline-block;
    vertical-align: top;
    margin: 0 $global-margin / 2 0 0;
  }
  span, .address-details {
    display: inline-block;
  }
  label {
    margin-right: $global-margin;
    height: 56px;
    line-height: 56px;
    margin-bottom: inherit;
    span {
      margin-right: 16px;
    }
    img {
      height: 28px;
      margin-right: 4px;
      &:last-child {
        margin-right: none;
      }
    }
  }
}

.relative {
  position: relative;
}

.passIcon {
  max-width: 15px;
  position: absolute;
  right: 0.5rem;
  cursor: pointer;
  top: 22px;
}

input {
  font-family: inherit !important;
  &:placeholder-shown {
    border-color: $gray-color-2;
  }
  &:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px white inset;
  }
}

input[type=text], input[type=password], input[type=email], input[type=submit], input[type=radio] {
  height: 56px;
}

select.form-control {
  height: 56px !important;
  font-family: inherit !important;
  margin-bottom: auto;
  margin-top: auto;
  -webkit-appearance: none;
  background-image: url('../../images/arrow_down.png');
  background-repeat: no-repeat;
  background-size: 10px;
  background-position: right 15px center;
  background-color: white;
}


.form-control {
  padding-left: 16.5px;
  &:focus {
    -webkit-box-shadow: 0 0 0 30px white inset;
    border-color: $brand-color-black;
  }
  &.password {
    margin-right: inherit;
  }
}

.form-group {
  margin-bottom: 15.5px;
  display: flex;
  flex-direction: row;
  &:last-child {
    margin-bottom: 24px;
  }
  &-item {
    width: 100%;
    margin-right: 21px;
    &:last-child {
      margin-right: inherit;
    }
  }
}

.form-field {
  &__zip {
    flex: 0 0 154px;
  }
  &__number {
    flex: 0 0 90px;
  }
}

.checkbox-panel {
  width: 100%;
  margin-bottom: auto;
  margin-top: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  color: $gray-color-1;
  label {
    margin-bottom: auto;
    margin-top: auto;
  }
  input {
    width: auto;
    margin-bottom: auto;
    margin-top: auto;
    margin-right: 8px;
  }

}

.input-validation {
  display: flex;
  flex-direction: column;
  .error {
    margin-top: 11px;
    color: $brand-secondary-color-red;
    font-size: 12px;
    line-height: 14px;
  }
}