.navbar {
  padding: 41px 0 0 0;
  @include media-breakpoint-down(md) {
    img {
      max-height: 30px;
    }
  }
  @media (max-width: 370px) {
    img {
      max-height: 25px;
    }
  }
  &__account {
    position: fixed;
    background-color: white;
    z-index: 20;
    height: 40px;
    display: flex;
    right: 0;
    top: 0;
    //flex-direction: column;
    font-size: $font-size-sm;
    //padding: $global-padding * 0.25 0;
    width: 100%;
    border-bottom: 1px solid $gray-color-2;
    p {
      font-size: 0.7rem;
      margin-bottom: 0;
      color: $skull-gray;
      line-height: 1.9rem;
      text-transform: uppercase
    }
    ul {
      list-style: none;
      margin-bottom: 0;
      height: 100%;
      li {
        height: 100%;
        display: inline-block;
        padding: 0 $global-padding / 2;
        line-height: 1.9rem;
        border-left: 1px solid $gray-color-2;
        a {
          height: 100%;
          color: $brand-color-black;
          font-size: $font-size-sm;
          opacity: 0.6;
        }
        &:first-child {
          border: none;
        }
      }
    }
    &__cart {
      &__icon {
        width: 1.2em;
        padding-bottom: 3px;
        &.cart-label {
          margin-right: 10px;
        }
      }
    }
    &-column {
      display: flex;
      flex-direction: column;
      align-content: center;
      justify-content: center;
    }
    &__buttons {
      height: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      //width: 300px;
      .ah-link {
        width: 100px
      }
    }
    &__oye {
      display: flex;
      flex-direction: row;
      height: 100%;
      .ah-link {
        margin-right: 40px;
        width: auto;
        border-left: none;
        padding: 0;
        border-left: none;
        &:last-child {
          margin-right: inherit;
        }
      }
      &__newsletter {
        margin-right: 40px;
      }
    }
    &-row {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }
  &__logo {
    display: inline-block;
    .menu-icon-mobile {
      //position: relative;
      //display: inline-block;
      .burger-menu {
        &:before {
          top: inherit;
          background: $brand-color-black;
        }
      }
      //span {
      //  position: absolute;
      //  top: 1.3rem;
      //  left: 1.1rem;
      //  text-transform: uppercase;
      //  font-size: 0.45rem;
      //}
      //img {
      //  max-height: 20px;
      //  vertical-align: top;
      //}
    }
  }
  &__search {
    margin-top: auto;
    margin-bottom: auto;
    position: relative;
    display: inline-block;
    .mobile-search-icon {
      padding-right: $global-padding;
    }
  }
  &__brand {
    width: 100%;
    padding: $global-padding * 1 0;
    height: 103px;
    display: flex;
    flex-direction: column;
    @include media-breakpoint-down(md) {
      position: fixed;
      top: 0;
      width: 100vw;
      background-color: $white;
      z-index: 4;
      border-bottom: 1px solid $gray;
      height: 80px;
    }
    .static {
      position: static;
    }
    &__cart {
      z-index: 4;
      @include media-breakpoint-up(lg) {
        line-height: 2.4rem;
      }
    }
    &__menu-toggle {
      max-height: 22px;
    }
    &__search {
      width: 190px;
      transition: width .2s ease-in;
      float: right;
      position: relative;
      .mobile-close-search {
        position: absolute;
        cursor: pointer;
        padding: $global-padding * 1.9 $global-padding;
        img {
          width: 22px;
        }
      }
      .search-input {
        width: 100%;
        height: 40px;
        font-family: $font-family-sans-serif !important;
        border-color: $search-form-border-color;
        border-radius: 100px;
        padding-left: $global-padding * 1.9;
        padding-right: $global-padding;
        transition: width 1s;
        &:focus {
          background-color: white;
          border: 1px solid $gray-color-1;
        }
      }
      .btn {
        width: 2.3rem;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        cursor: pointer;
        border-radius: 0;
        outline: 0;
        display: flex;
        @include transition(background, 0.3s);
        img {
          margin: auto;
          height: 1.5rem;
          padding: $global-padding / 7;
        }
      }
      @include media-breakpoint-down(md) {
        display: block;
        left: -100vw;
        position: absolute;
        max-width: 100%;
        float: right;
        top: 0;
        z-index: 5;
        margin-top: 0;
        .search-input {
          padding: $global-padding * 2 $global-padding * 2 $global-padding * 2 $global-padding * 4;
          border: 0;
        }
        i {
          position: absolute;
          padding: $global-padding * 1.7 $global-padding;
        }
        .btn {
          top: 1.6rem;
          right: 2rem;
        }
      }
      &.active {
        width: 120% !important;
        transition: width 0.1s ease-out;
      }
    }
    &-box {
      margin-top: auto;
      margin-bottom: auto;
    }
  }
  &__menu {
    .navigation {
      ul {
        font-weight: 400 !important;
        //margin-bottom: $global-margin;
        display: block;
        text-align: center;
        &.no-border {
          border-bottom: 0;
          margin-bottom: 0;
        }
        @include media-breakpoint-down(md) {
          border-bottom: 0;
        }
        .nav-item {
          display: inline;
          + .nav-item {
            margin-left: 0;
          }
          a {
            color: #313532;
            text-transform: uppercase;
            display: inline-block;
            padding-top: $global-padding * 0.9;
            padding-left: $global-padding * 0.9;
            padding-right: $global-padding * 0.9;
            font-size: 15px;
            letter-spacing: 1px;
            &:hover {
              color: rgba(48, 196, 108, 1);
            }
          }
          .router-link-active, .nuxt-link-active {
            span {
              color: rgba(48, 196, 108, 1);
              border-width: 0 0 1px;
              border-style: solid;
            }
            //padding-bottom: 5px;

          }
        }
      }
    }
    @include media-breakpoint-down(md) {
      .navigation {
        position: fixed;
        right: 0;
        top: 0;
        height: 100vh;
        width: 80%;
        z-index: 3;
        color: $gray-color-2;
        .nav-link {
          color: $gray-color-2;
        }
        font-weight: normal;

        background-color: $brand-color-black;
        padding-left: 0;
        padding-right: $global-padding;
        padding-top: $global-padding * 2;
        transition: 0.3s ease-in-out;
        ul {
          text-align: left;
          .nav-item {
            width: 100%;
            text-align: left;
            a {
              padding: $global-padding / 2 $global-padding;
              font-size: 1rem;
            }
          }
        }
        &.open {
          left: 0;
          box-shadow: 1px 1px 10px 1px $gray;
        }
      }
    }
  }
  &__checkout {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}

.checkout {
  &__navbar {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    .nav-item {
      &:first-child {
        .checkout-state {
          .checkout-num {
            &:before {
              display: none;
            }
          }
        }
      }
    }
    .active {
      .checkout-state {
        .checkout-num {
          background-color: $brand-color-green;
          &:before {
            background-color: $brand-color-green;
          }
        }
        .checkout-name {
          color: $brand-color-green;
        }
      }
    }
    .clickable {
      .checkout-num {
        cursor: pointer;
      }
      .checkout-name {
        cursor: pointer;
      }
    }
  }
}

.checkout-state {
  color: #313532;
  padding-top: $global-padding * 0.9;
  padding-left: $global-padding * 0.9;
  padding-right: $global-padding * 0.9;
  font-size: $font-size-sm;
  display: flex;
  flex-direction: column;
  min-width: 150px;
  flex-grow: 1;
  :last-child {
    flex-basis: 0;
    flex-grow: 0;
    flex-shrink: 1;
  }
  .checkout-num {
    width: 24px;
    height: 24px;
    padding: 4px;
    background-color: $gray-color-3;
    color: white;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    text-align: center;
    position: relative;

    &:before {
      content: '';
      position: absolute;
      top: .9em;
      width: 12em;
      margin-left: -12em;
      height: 1px;
      background: $gray-color-2;
      z-index: -1;
    }
  }
  .checkout-name {
    color: $gray-color-3;
    text-align: center;
  }
}

.ah-link {
  padding: 6px;
  width: 100%;
  border-left: 1px solid $gray-color-2;
  height: 100%;
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
  align-items: center;
  justify-content: center;
  &:first-child {
    border-left: none;
  }
  &.cart {
    padding-left: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  &:hover {
    opacity: 1;
  }
  a {
    color: #CBCBCB;
    &:hover {
      color: $brand-color-black !important;
      .cart-icon-box {
        .cart-svg {
          * path {
            fill: $brand-color-black;
          }
          #Symbols {
            opacity:1;
          }
        }
        .badge {
          background-color: darken($brand-color-green, 20) !important;
          &.empty {
            background-color: darken($gray-color-2, 20) !important;
          }
          &.reserve {
            background-color: darken($brand-secondary-color-yellow, 20) !important;
          }
        }
      }
    }
  }
}

.cart {
  &-link {
    display: flex;
    flex-direction: row;
    position: relative;
  }
  &-icon-box {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .badge {
      display: inherit !important;
      position: absolute;
      top: 2px;
      padding: 3px;
      right: -2px;
      background-color: lighten($brand-color-green, 10);
      border-radius: 100px;
      color: $white;
      width: 6px;
      height: 6px;
      text-align: center;
      cursor: default;
      &.empty {
        background-color: $gray-color-2;
      }
      &.reserve {
        background-color: $brand-secondary-color-yellow;
      }
      @include media-breakpoint-down(sm) {
        right: 0;
      }
    }
  }
  &__icon {
    .cart-svg {
      height: 26px;
      width: 26px;
      * path {
        fill: $brand-color-black;
      }
      #Symbols {
        opacity:1;
      }
    }
  }
}

.cart-label {
  margin-right: 0.5em;
}

.menu-icon-mobile {
  .burger-menu {
    padding-top: 6px;
    padding-right: 4px;
    margin: 0 0 0 auto;
    &:before {
      top: inherit;
      width: 20px;
      height: 2px;
      background: $brand-color-black;
      box-shadow:
              $brand-color-black 0px 0.4em 0px 0px,
              $brand-color-black 0px 0.8em 0px 0px
    }
  }
}
