.login {
  margin-top: $global-padding * 2;
  border-radius: 4px;
  border: 1px solid $gray;
  @include media-breakpoint-down(sm) {
    padding-top: 0;
  }
  .col-md-6 {
    text-align: center;
  }
  h3 {
    text-transform: uppercase;
    margin-bottom: $global-margin * 2;
  }
  p, a {
    color: $gray;
  }
  a:not(.btn) {
    text-decoration: underline;
  }
  .btn {
    //padding: $global-padding / 2 $global-padding * 2.5;
    font-size: 1rem;
    text-transform: uppercase;
    margin: auto;
    margin-top: $global-margin;
    font-family: $font-family-sans-serif;
  }
  &__btn-group {
    img {
      display: block;
      margin: 0 auto;
    }
  }
  &__register {
    padding: $global-padding * 2;
    &-link {
      a {
        max-width: 12rem;
      }
      img {
        margin: $global-margin / 2 auto $global-margin * 0.9;
        display: block;
        @include media-breakpoint-up(md) {
          &.checkout-pirate {
            margin-bottom: $global-margin * 3.2;
          }
        }
      }
    }
  }
  &__form {
    margin-bottom: 16.6px;
    height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &__panel {
      a {
        //color: $body-color;
        color: $brand-color-green;
        text-decoration: none;
        font-size: $font-size-sm;
        &:hover {
          text-decoration: underline;
        }
      }
      background: transparent;
      padding: $global-padding * 2 $global-padding * 5;
      margin-bottom: 15.5px;
      @include media-breakpoint-down(md) {
        padding: $global-padding * 2;
      }
      h3 {
        text-transform: uppercase;
        margin-bottom: 27px;
      }
      .form-group {
        text-align: left;
      }
    }
    &__btn {
      &__login {
        padding-left: 0px;
        padding-right: 12px;
        button {
          width: 100%;
        }
      }
      &__register {
        padding-left: 12px;
        padding-right: 0px;
        button {
          width: 100%;
          background-color: white;
          color: $brand-color-green;
          border: 1px solid $brand-color-green;
          text-align: center;
          &:hover {
            background-color: lighten($brand-color-green, 40);
          }
        }
      }
    }
  }
  &__btn-group {
    a {
      margin-top: $global-margin;
      display: block;
    }
  }
}

.forgott-password {
  h2 {
    font-size: 2rem;
    padding-top: $global-padding*2;
  }
  p {
    font-size: 1rem;
    padding-top: $global-padding;
  }
  fieldset {
    max-width: 60%;
    margin: auto;
    padding-bottom: $global-padding;
    @include media-breakpoint-down(sm) {
      max-width: 80%;
    }
  }
  .login__btn-group {
    .btn {
      padding: $global-padding / 2 $global-padding * 3;
      margin: auto;
      text-transform: uppercase;
      font-family: $font-family-sans-serif;
    }
    img {
      padding-top: $global-padding * 2;
    }
  }
}