/* mixin for multiline */
@mixin multiLineEllipsis($lineHeight: 1.2em, $lineCount: 1, $bgColor: white) {
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
  line-height: $lineHeight;
  max-height: $lineHeight * $lineCount;
  margin-right: 0em;
  padding-right: 2em;
}

.mobile {
  .feature {
    img {
      @include media-breakpoint-down(sm) {
        max-width: 150px;
        max-height: 150px;
      }
      @include media-breakpoint-down(xs) {
        max-width: 120px;
        max-height: 120px;
      }
      @include media-breakpoint-up(md) {
        max-width: 300px;
        max-height: 300px;
      }
    }
  }
}

.frontpage__weekly__item {
  .mobile {
    .feature {
      margin-top: auto;
      margin-bottom: auto;
      margin-right: auto;
    }
  }
}

.mobile {
  .frontpage {
    &__teaser {
      width: 100%;
      @include media-breakpoint-down(xs) {
        max-height: 540px;
      }
      max-height: 400px;
      padding-left: inherit;
      padding-right: inherit;
      margin-left: inherit;
      margin-right: inherit;

      margin-bottom: inherit;
      &__content {
        height: 100%;
        width: 100%;
        margin-top: auto;
        margin-bottom: auto;
        padding-top: inherit;
        @media screen and (max-width: 480px) and (orientation: portrait) {
          padding-left: inherit;
          padding-right: inherit;
        }
        padding-left: 120px;
        padding-right: 120px;
        padding-bottom: inherit;
        .slider-left-control {
          margin: auto;
          height: inherit;
          @include media-breakpoint-down(sm) {
            display: none;
          }
        }
        .slider-right-control {
          margin: auto;
          height: inherit;
          @include media-breakpoint-down(sm) {
            display: none;
          }
        }
      }
      &__artist {
        width: 100%;
        font-size: $font-size-h4;
        @include multiLineEllipsis($lineHeight: $font-size-h4, $lineCount: 2, $bgColor: white);
      }
      &__title {
        width: 100%;
        font-size: $font-size-h4;
        @include multiLineEllipsis($lineHeight: $font-size-h4, $lineCount: 2, $bgColor: white);
      }
    }
    &__weekly {
      &__panel {
        margin-top: inherit;
        min-height: inherit;
      }
      &__item {
        &__cell {
          padding-top: 1rem;
          padding-bottom: 1rem;
        }
        *.add-to-cart-button {
          width: 48px;
          background-color: $brand-color-green;
          img {
            margin-right: auto !important;
            margin-left: auto !important;
          }
        }
        margin-bottom: inherit;
        padding: 0.8rem;
        img {
          padding-bottom: inherit;
          //margin-right: 15px;
          //margin-left: 15px;
          //margin-top: -4px;
        }
        .feature {
          width: 100%;
        }
        *.content {
          padding: 1px;
          .title {
            height: $font-size-h5 * 2;
            font-size: $font-size-h5;
            overflow: hidden;
            //text-overflow: ;
            line-height: $font-size-h5;
            white-space: pre-line;
            margin-top: auto;
          }
          .name {
            font-size: $font-size-h4;
          }
          .release-btn {
            margin-right: .4rem;
            &:last-child {
              margin-right: inherit;
            }
            &-bar {
              margin-top: auto;
              margin-left: auto;
              justify-content: flex-end;
            }
          }
        }
      }
    }
  }
  .slide {
    .slide__inner {
      width: 100%;
      position: relative;
      display: flex;
      flex-direction: column;
      padding-top: $global-padding * 2;
      padding-bottom: $global-padding * 2;
      .artist {
        width: 100%
      }
      .title {
        width: 100%;
      }
      .release {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        &-navigation {
          position: absolute;
          height: 100%;
          width: 100%;
          top: 0;
          left: 0;
          .play {
            position: relative;
          }
          .play-release-button {
            margin: auto;
          }
        }
      }
      &-image {
        height: 100%;
        img {
          width: 100%;
          height: auto;
          padding: 1rem;
        }
        //position: absolute;
        //top: 0;
        //left: 0;
        //height: 100%;
        //width: 100%;
        //img {
        //  height: 50px;
        //}
      }
      .release-info {
        margin-top: 1rem;
        padding-left: 1rem;
        padding-right: 1rem;
      }

    }
    .release-info {
      position: relative;
      justify-content: space-between;
      height: 100%;
      display: flex;
      flex-direction: column;

      //.name {
      //  position: absolute;
      //  left: 0;
      //  top: 0;
      //  height: 100%;
      //  width: 100%;
      //}
    }
    img {
      //width: auto;
      //max-height: 250px;
      height: 100%;
      width: 100%;
    }
    .release-info {
      //width: 80%;
      .description {
        font-size: $font-size-sm;
        @include multiLineEllipsis($lineHeight: $font-size-h5, $lineCount: 3, $bgColor: transparent);
      }
      &-box {
        //position: absolute;
        //top: 0;
        //left: 0;
        width: 100%;
        height: 100%;
        margin-right: 4rem;
        &:last-child {
          margin-right: inherit;
        }
      }
      .overlay {
        .artist {

        }
      }
    }
  }
}

.release__button-bar__add-to-cart {
  width: auto;
}


@include media-breakpoint-down(sm) {
  .charts__detail {
    margin-top: 0;
    .release__button-bar {
      margin-right: 0;
      &__add-to-cart {
        padding: 0;
        width: 36px !important;
        span {
          display: none;
        }
        img {
          margin-right: 3px !important;
        }
      }
    }
    &__info-box {
      padding-right: 25px;
      padding-left: 0;
      padding-top: 0;
      padding-bottom: 0;
    }
    &__thumb {
      padding-top: 25px;
      padding-bottom: 25px;
      padding-left: 0;
    }
  }

  .mobile-button-bar {
    margin-bottom: 8px;
    .release__button-bar {
      margin-right: 0;
      margin-top: 0;
      flex-direction: column-reverse !important;
      justify-content: space-between !important;
      height: inherit;
      .play {
        margin-right: 0;
        position: relative;
        &:after {
          content: "";
          padding: 25px;
          position: absolute;
          left: -7px;
          top: -3px;
        }
      }
      &__add-to-cart {
        padding: 0;
        width: 36px !important;
        span {
          display: none;
        }
        img {
          margin-right: 3px !important;
        }
        &:after {
          content: "";
          padding: 25px;
          position: absolute;
          left: -7px;
          top: -11px;
        }
      }
    }
  }
}

.list-item {
  height: 270px !important;
}

.mobile {
  .resizable-list-item-outer {
    background-color: white;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;

    width: 110%;
    margin-top: -10px;
    padding-top: 10px;
    margin-left: -5%;
    margin-right: -5%;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15),
    0 3px 6px 0 rgba(0, 0, 0, 0.14);

    z-index: 1;
    .release-list-add {
      display: block;
    }
    .release-list-info__label {
      display: block;
    }
    .release-list-play {
      display: inline-block !important;
      //&:hover {
      opacity: 1;
      background-color: $brand-color-green !important;
      //&:after {
      //  opacity: 0;
      //}
      //}
    }
    .release-list-image {
      .format {
        display: inherit;
      }
      .genre {
        display: inherit;
      }
      &:before {
        content: "";
        width: 100%;
        height: 100%;
        opacity: 0.4;
        background: $brand-color-green;
        background-color: #020202;
        position: absolute;
        pointer-events: none;
        top: 0;
        left: 0;
      }
    }
  }
  &.navbar__menu {
    .navigation {
      //height: inherit;
      transition: 0.5s ease-in-out;
      width: 80%;
      max-width: 300px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      ul {
        height: auto;
        display: inline;
        margin-top: auto;
        margin-bottom: auto;
        padding: 0;
        //margin: 0;
        text-align: right;
        .nav-item {
          text-align: right;
          .nuxt-link-active {
            color: $brand-color-green !important;
          }
          .nav-link {
            &:hover {
              color: lighten($brand-color-green, 20) !important;
            }
          }
          a {
            font-size: $font-size-h4;
            display: block;
            color: $gray-color-2 !important;
            &:hover {
              color: lighten($brand-color-green, 20) !important;
            }
          }
        }
        .nav {
          .nav-bar {
            height: inherit;
          }
        }
      }
    }
  }
}

.block-with-text {
  @include multiLineEllipsis($lineHeight: 1.2em, $lineCount: 3, $bgColor: white);
}

@media (min-width: 324px) {
  .d-xs-none {
    display: none !important;
  }
}

//@media (min-width: 576px) {
//  .d-sm-none {
//    display: none !important;
//  }
//}

@media (min-width: 768px) {
  .d-md-none {
    display: none !important;
  }
}

@media (min-width: 992px) {
  .d-lg-none {
    display: none !important;
  }
}

@media (min-width: 1200px) {
  .d-xl-none {
    display: none !important;
  }
}

.mobile-menu {
  background-color: $gray-color-4;
  color: $gray-color-2;
  font-weight: normal;
  z-index: 20;
  height: 100%;
  padding-top: 100px;
  padding-left: 24px;
  top: 0;
  right: 0;
  width: 100%;
  display: flex;
  position: fixed;
  overflow-y: scroll;
  overflow-x: hidden;
  overflow-scrolling: touch;
  ul {
    font-size: 24px;
    line-height: 48px;
    font-weight: 300;
    //text-align: right;
    a {

    }
  }
  .nav-more {
    margin-top: 2rem;
    list-style: none;
    font-size: 16px;
    line-height: 32px;
    padding-left: 0;
    a {
      color: $gray-color-1 !important;
    }
  }
}

.agile {
  &__list {
    @include media-breakpoint-down(sm) {
      height: 420px;
    }
    height: 350px;
  }
  &__track {
    height: 420px;
  }
  &__slide {
    width: 345px;
    margin-left: auto;
    margin-right: auto;
  }
}

.frontpage__teaser__item {
  height: 100%;
  min-width: 80%;
  margin-left: auto;
  margin-right: auto;
  img {
    max-width: 100%;
    width: 100%;
    min-height: 80%;
    max-height: 80%;
    height: 100%;
  }
  .release-name {
    min-width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}

@include media-breakpoint-down(md) {
  .frontpage__weekly__item__content {
    &.mobile {
      .feature-image {
        max-width: 100%;
        width: 100%;
        min-height: 80%;
        max-height: 80%;
        height: 100%;
        padding-left: 8px;
      }
      height: inherit;
      padding: 12px !important;
      .release-name {
        max-width: 240px !important;
      }
    }
  }
}

@include media-breakpoint-down(md) {
  .release-name {
    margin-top: 2em;
    max-width: 200px;
    margin-right: auto;
    margin-left: auto;
    flex-direction: column;
    .artist {
      font-size: 24px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      max-width: 280px;
    }
    .title {
      color: $gray-color-1;
      font-size: 24px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      max-width: 280px;
    }
    .category {
      font-size: 12px;
      text-transform: uppercase;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      max-width: 120px;
      margin-bottom: 14px;
    }
  }
}


@include media-breakpoint-down(sm) {
  .list-item {
    height: auto !important;
    width: 100%;
    padding-bottom: 0px;
    .list-item-outer {
      position: relative;
      width: 100%;
      .release-list-play {
        margin: auto auto 8px 8px;
        display: block;
      }
    }
  }
  .filter-options {
    width: 100%;
    :first-child {
      max-width: 100%;
    }
    margin-bottom: 1rem;
    .btn {
      width: 100%;
    }
  }
  .genres__detail__subgenre__selector {
    margin-left: inherit;
  }
}

.page__header {
  .genre-dropdown {
    font-size: 16px;
    margin-top: 24px;
    z-index: 3;
  }
}

.genre-dropdown__content {
  @include media-breakpoint-down(sm) {
    z-index: 3;
  }
}

.chart-item {
  @include media-breakpoint-down(sm) {
    margin-bottom: 1.5em;
    &:last-child {
      .charts-infobox__label {
        border-bottom: 1px solid $gray-color-2;
        height: 40px;
        margin-bottom: 12px;
      }
    }
    &.charts-infobox {
      margin-bottom: 0;
      height: 240px;
      &__name {
        margin-bottom: 0;
      }
    }
    .charts-infobox {
      margin-bottom: 0;
      height: 240px;
      &__name {
        margin-top: .5em;
        font-size: 1.1rem;
        margin-bottom: 0;
      }
    }
  }
}