.order {
  background-color: $gray-color-4;
  padding: 2rem;
  h3 {
    margin-top: .2rem;
    margin-bottom: .5rem;
  }
  &-id {
    color: $brand-color-green;
  }
  &__detail {
    &:hover {
      background-color: transparent !important;
      cursor: default;
    }
    td {
      position: relative;
      border-top: 0;
      padding-left: 0;
      padding-right: 0;
    }
    .cart__line {
      padding: 1rem;
      &:first-child {
        border-top: 1px solid $gray-color-2;
      }
    }
    .hint-arrow {
      position: absolute;
      top: 0px;
      left: 32px;
      width: 0;
      height: 0;
      border-left: 20px solid transparent;
      border-right: 20px solid transparent;
      border-bottom: 20px solid $gray-color-4;
    }
  }
  .download {
    color: $brand-color-green;
    text-decoration: underline;
    font-size: $font-size-xs-fixed;
    cursor: pointer;
  }
}
