.order {
  background-color: $gray-color-4;
  padding: 2rem;
  h3 {
    margin-top: .2rem;
    margin-bottom: .5rem;
  }
  &-id {
    color: $brand-color-green;
  }
  &__detail {
    &:hover {
      background-color: transparent !important;
      cursor: default;
    }
    td {
      position: relative;
      border-top: 0;
      padding-left: 0;
      padding-right: 0;
    }
    .cart__line {
      padding: 1rem;
      &:first-child {
        border-top: 1px solid $gray-color-2;
      }
    }
    .hint-arrow {
      position: absolute;
      top: 0px;
      left: 32px;
      width: 0;
      height: 0;
      border-left: 20px solid transparent;
      border-right: 20px solid transparent;
      border-bottom: 20px solid $gray-color-4;
    }
  }
  .download {
    color: $brand-color-green;
    font-size: $font-size-xs-fixed;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
}

.my-orders {
  h3 {
    margin-top: inherit;
    margin-bottom: 1rem;
  }
  .release {
    &__infos {
      margin-left: 1rem;
      flex-direction: row;
      font-size: $font-size-h5;
      line-height: 24px;
    }
    &__title {
      font-weight: 300;
      opacity: 0.8;
    }
    &__label {
      font-weight: 300;
      //opacity: 0.8;
      font-size: $font-size-sm;
    }
    &__name {
      margin-right: 0.5rem;
    }
    &__price {
      margin-top: auto;
      margin-bottom: auto;
    }
  }
  .delete {
    opacity: 0.7;
    font-size: $font-size-h2;
    line-height: $font-size-h2;
    font-weight: 300;
    &:hover {
      opacity: 1;
    }
  }
  .add-to-cart-button {
    background-color: $brand-color-green;
    font-weight: 300;
    font-size: $font-size-sm;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    &:hover {
      background-color: darken($brand-color-green, 10);
      color: darken(white, 10)
    }
  }
}