.page {
  &__header {
    width: 100%;
    font-size: $font-size-lg;
    letter-spacing: -1px;
    height: 3.4em;
    display: inline-block;
    padding-top: 1.1em;
    border-bottom: 1px solid $gray-color-2;
    @include media-breakpoint-down(md) {
      margin-top: 32px;
    }
  }
  h1 {
    font-size: 3rem;
    vertical-align: inherit;
    margin-top: inherit;

    line-height: 38px;
    letter-spacing: -1px;
    display: inline-block;
  }
  h3 {
    margin-top: 2em;
    margin-bottom: 1.7em;
  }
  .search {
    padding-top: 1.5em;
    font-size: $font-size-h3 !important;
    letter-spacing: 0px !important;
  }
}

.frontpage {
  &__teaser {
    position: relative;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    margin-bottom: 200px;
    background-color: rgba(248,247,245,1);
    letter-spacing: 1px;
    height: 654px;

    @include media-breakpoint-down(md) {
      height: inherit;
      margin-bottom: 16px;
    }

    &__content {
      position: relative;
      padding: 60px;
      height: 504px;
      margin-left: auto;
      margin-right: auto;
      max-width: 1600px;

      @include media-breakpoint-down(md) {
        padding-left: 0;
        padding-right: 0;
        background-position: 0 250px;
        background-size: 100% auto;
        height: 100%;
        margin-top: 100px;
        padding-top: 0;
      }

      .slider {
        position: relative;
        top: 0;
        left: 0;
        overflow-x: hidden;
        white-space: pre;
        height: 100%;
        width: 100%;

        &-right-control {
          right: 0;
        }

        &-left-control {
          left: 0;
        }

        .slide {
          position: absolute;
          white-space: normal !important;
          display: inline-block;
          width: 100%;
          height: 100%;
          &__inner {
            height: 100%;
            -moz-background-size: 30%;
            -webkit-background-size: 30%;
            background-origin: content-box;
            background-position: right bottom;
            background-repeat: no-repeat;
            background-size: auto 100%;
            display: flex;
            flex-direction: column;
          }
        }
      }
    }
    &__news-label {
      border-radius: 2px;
      width: 90px;
      margin-bottom: .9em;
      span {
        display:table;
        padding-top: 8px;
        padding-bottom: 8px;
        margin:0 auto;
        height: 10px;
        text-transform: uppercase;
        color: $brand-color-black;
        font-size: 0.5em;
        line-height: 10px;
        text-align: center;
      }
    }
    &__title {
      display: block;
      font-size: 2.5em;
      color: #313532;
      max-width: 50%;
      overflow-x: hidden;
      text-overflow: ellipsis;
      opacity: 0.4;
      line-height: 1.2em;
      //margin-bottom: 10px;
    }
    &__artist {
      padding-top: .2em;
      display: block;
      max-width: 50%;
      overflow-x: hidden;
      text-overflow: ellipsis;
      font-size: 2.5em;
      line-height: 1.2em;
    }
    a {
      color: $body-color;
      text-decoration: none;
    }
  }

  &__weekly {
    &__panel {
      font-size: .8em;
      bottom: 140px;
      margin-top: -350px;
      max-width: 1500px;
      min-height: 300px;
      @include media-breakpoint-down(md) {
        margin-left: -15px;
        margin-right: -15px;
        margin-top: inherit;
      }
      a {
        color: $body-color;
        text-decoration: none;
      }
    }
    &__item {
      height: 100%;
      background-color: #F3F2EF;
      margin-bottom: 30px;
      margin-left: auto;
      margin-right: auto;
      &__info {
        width: 40%;
        display: flex;
        flex-direction: column;
      }
      &__image {
        width: 60%;
        display: flex;
        height: 100%;
        margin-top: auto;
        img {
          width: auto;
          max-height: 240px;
          margin-top: auto;
          margin-left: auto;
        }
      }
      &__content {
        position: relative;
        padding: 48px;
        width: 100%;
        height: 100%;
        &__artist {
          padding-top: 1em;
          line-height: 1.2;
          font-size: 1.8em;
        }
        &__title {
          margin-top: 0.8rem;
          font-size: 1.8em;
          color: #313532;
          opacity: .5;
          line-height: 1.2;
          height: 54px;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        &__image {
          display: inline-block;
          right: 10px;
          bottom: 10px;
          float: right;
          max-width: 300px;
          min-width: 200px;
          width: 200px;
          height: 200px;
        }
      }
      &__cell {
        position: relative;
        padding-bottom: 20px;
      }
    }
  }
}

.background {
  margin-top: 142px;
  width: 100vw;
  background-color: $gray-color-5;
  padding-bottom: 150px;
  @include media-breakpoint-down(md) {
    margin-top: 0px;
  }
}

.feature-category {
  text-transform: uppercase;
  font-size: .9em;
}


.slider {
  &-left-control {
    position: absolute;
    height: 75%;
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
    left: -15px;
    cursor: pointer;
  }
  &-right-control {
    position: absolute;
    height: 75%;
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    right: -15px;
    cursor: pointer;
  }
}