.product {
  a {
    color: $dark-gray;
    text-decoration: underline;
  }
  &__main {
    margin-bottom: 4em;
  }
  &__info {
    padding-left: 4em;
    h2 {
      margin-top: inherit !important;
      margin-bottom: 5px !important;
    }
    h3 {
      text-transform: uppercase;
    }
    h5 {
      margin-top: 1em !important;
    }
    &__name {
      opacity: 0.5
    }
    &__price {
      font-weight: 400;
      font-size: $font-size-h2;
      letter-spacing: -1px;
      margin-top: $global-margin * 3 !important;
      color: $brand-color-black;
      &__undiscounted {
        text-decoration: line-through;
      }
    }
    label {
      margin-bottom: $global-margin;
    }
    &__quantity {
      width: 17%;
      float: left;
      input {
        height: 54px;
      }
    }
    &__button {
      width: 80%;
      float: right;
      margin-top: $global-margin * 2.5;
      button {
        min-width: 100%;
      }
    }
    &__tax-included {
      margin-top: 8px;
      font-size: $font-size-sm;
      opacity: 0.5;
    }
    td {
      padding-right: $global-padding;
    }
    &__form-error {
      margin-top: -$global-padding / 2;
      margin-bottom: $global-margin;
    }
    &__availability {
      height: 8px;
      -moz-border-radius:4px;
      -webkit-border-radius: 4px;
      width: 8px;
      display: inline-flex;
      margin-top: auto;
      margin-bottom: auto;
      position: relative;
      bottom: 0px;
      margin-right: 4px;
      &.available {
        background-color: $brand-color-green;
      }
      &.few {
        background-color: $brand-secondary-color-yellow;
      }
      &.upcoming {
        background-color: $brand-secondary-color-blue;
      }
      &.one {
        background-color: $brand-secondary-color-yellow;
        &:before {
          position: absolute;
          bottom: 0%;
          left: 180%;
          padding: 7px;
          width: 160px;
          -webkit-border-radius: 3px;
          -moz-border-radius: 3px;
          border-radius: 3px;
          color: $brand-color-black;
          content: " ";
          margin-bottom: -2px;
          margin-left: -38px;
          text-align: center;
          font-size: 14px;
          line-height: 1.2;
          background-image: url('~/assets/images/warning.png');
          background-repeat: no-repeat;
        }
      }
      &.out, &.deleted {
        background-color: $brand-secondary-color-red;
      }
    }
    &__description {
      margin-top: $global-margin * 3;
      margin-bottom: $global-margin * 2;
      &__stripped {
        position: relative;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        line-height: 24px;     /* fallback */
        max-height: 24 * $display-lines + px;      /* fallback */
        -webkit-line-clamp: $display-lines; /* number of lines to show */
        -webkit-box-orient: vertical;
        &:before {
          content:'';
          width:100%;
          height:100%;
          position:absolute;
          left:0;
          top:0;
          background:linear-gradient(transparent 24 * ($display-lines - 1) + px, white);
        }
      }
      .more {
        margin-top: 1em;
        margin-bottom: 1em;
        font-size: $font-size-sm;
        color: $brand-color-green;
        cursor: pointer;
      }
    }
    &__footer {
      font-size: $font-size-sm;
      position: absolute;
      bottom: 0px;
      .pressing {
        margin-left: 2em;
        opacity: 0.5;
      }
    }
    @include media-breakpoint-down(md) {
      padding-left: 15px !important;
      padding-right: 15px !important;
    }
  }
  &__secondary-infos {
    margin-top: 4em;
    @include media-breakpoint-down(md) {
      padding-left: 0px !important;
      padding-right: 0px !important;
    }
    h4 {
      margin-bottom: 1em !important;
    }
  }
  &__details {
    &__detail {
      color: $gray-color-1;
      p {
        color: $brand-color-black;
      }
    }
  }
  &__variant-picker {
    margin-bottom: $global-margin;
    &__label {
      margin-bottom: $global-margin;
    }
    label {
      margin-bottom: 0;
    }
    .btn-group {
      display: block;
      .btn {
        margin-bottom: $global-margin / 4;
      }
    }
  }
  &__gallery {
    padding-right: 2em;
    margin-bottom: 2em;
    &:last-child {
      padding-right: inherit;
    }
    .carousel-control {
      &-prev {
        img {
          transform: rotate(180deg);
        }
      }
    }
    .carousel-item {
      flex-flow: column;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .carousel-indicators {
      top: 100%;
      width: auto;
      left: 0;
      display: block;
      text-align: center;
      li {
        display: inline;
        text-indent: 0;
        margin: 0;
        min-width: 60px;
        &.active {
          img {
            opacity: 0.5;  
          }
        }
      }
    }
  }
}
