.product-list {
  position: relative;
  margin-bottom: 2rem;
  img {
    max-width: 100%;
    width: 100%;
  }
  a {
    color: $body-color;
    position: relative;
    display: flex;
    &:hover {
      text-decoration: none;
    }
  }
  &-item-name {
    margin: $global-margin / 2 0;
    display: block;
  }
  .panel-footer {
    color: $skull-gray;
    position: absolute;
    width: 100%;
    bottom: 0;
    div {
      display: inline-block;
    }
  }
  &__sale {
    img {
      position: absolute;
      left: 0;
      top: 0;
    }
    span {
      position: absolute;
      top: 0.5rem;
      left: 0.15rem;
      color: $white;
      font-size: 0.8rem;
      text-transform: uppercase;
      transform: rotate(-45deg);
      font-weight: 500;
    }
  }
}

