.release-list-info {
  position: relative;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: flex;
  font-weight: normal;
  flex-direction: column;
  overflow: hidden;
  padding-top: .4em;
  &__header {
    position: relative;
    padding-top: 0.5em;
    height: 24px;
    color: $brand-color-black;
    line-height: 16px;
    font-size: $font-size-sm;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    &__artist-name {
      display: inline-block;
      max-width: 65%;
      overflow: hidden;
      text-overflow: ellipsis;
      &:hover {
        color: $brand-color-green;
      }
    }
    &__price {
      position: relative;
      float: right;
      display: inline-block;
    }
  }
  &__release-title {
    position: relative;
    height: 14px;
    opacity: 0.6;
    color: $brand-color-black;
    font-size: $font-size-sm;
    line-height: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &__label {
    display: none;
    padding-top: 1em;
    padding-bottom: 1em;
    font-size: $font-size-sm;
    opacity: 0.6;
    color: $brand-color-black;
    &:hover {
      color: $brand-color-green;
    }
  }
}

.desktop {

}

.list-item {
  position: relative;
  flex: 1;
  display: flex;
  padding-bottom: 20px;

  @include media-breakpoint-up(xl) {
    height: 240px;
  }
  @include media-breakpoint-only(lg) {
    height: 180px;
  }
  @include media-breakpoint-only(md) {
    height: 280px;
  }
  @include media-breakpoint-only(sm) {
    height: 400px;
  }
  @include media-breakpoint-up(lg) {

    .resizable-list-item-outer {
      &:hover {
        background-color: white;
        padding-left: 5%;
        padding-right: 5%;
        padding-bottom: 5%;

        width: 110%;
        margin-top: -10px;
        padding-top: 10px;
        margin-left: -5%;
        margin-right: -5%;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15),
        0 3px 6px 0 rgba(0, 0, 0, 0.14);

        z-index: 1;
        .release-list-add {
          display: flex;
        }
        .release-list-info__label {
          display: block;
        }
        .release-list-play {
          display: inline-block;
          &:hover {
            opacity: 1;
            background-color: $brand-color-green-hover !important;
            &:after {
              opacity: 0;
            }
          }
        }
        .release-list-image {
          .format {
            display: inherit;
          }
          .genre {
            display: inherit;
          }
          &:before {
            content: "";
            width: 100%;
            height: 100%;
            opacity: 0.8;
            //background: $brand-color-black;
            background-color: #020202;
            position: absolute;
            pointer-events: none;
            top: 0;
            left: 0;
          }
        }
      }
    }
  }
  @include media-breakpoint-down(md) {
    .resizable-list-item-outer {
      &:hover {

        background-color: white;
        padding-left: 5%;
        padding-right: 5%;
        padding-bottom: 5%;

        width: 110%;
        margin-top: -10px;
        padding-top: 10px;
        margin-left: -5%;
        margin-right: -5%;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15),
        0 3px 6px 0 rgba(0, 0, 0, 0.14);

        z-index: 1;
        .release-list-add {
          display: flex;
        }
        .release-list-info__label {
          display: block;
        }
        .release-list-play {
          display: inline-block !important;
          //&:hover {
          opacity: 1;
          background-color: $brand-color-green !important;
          //&:after {
          //  opacity: 0;
          //}
          //}
        }
        .release-list-image {
          .format {
            display: inherit;
          }
          .genre {
            display: inherit;
          }
          &:before {
            content: "";
            width: 100%;
            height: 100%;
            opacity: 0.8;
            //background: $brand-color-black;
            background-color: #020202;
            position: absolute;
            pointer-events: none;
            top: 0;
            left: 0;
          }
        }
      }
    }
  }
  @include media-breakpoint-down(xs) {
    height: 280px;
  }
}

.resizable-list-item-inner {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  .release-list {
    &-image {
      position: relative;
      color: white;
      font-size: 12px;
      line-height: 14px;
      font-weight: normal;
      .release-list-play {
        position: absolute;
        margin: auto;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        display: none;
      }
      .format {
        padding: 12px;
        position: absolute;
        display: none;
        bottom: 0;
        right: 0;
      }
      .genre {
        padding: 12px;
        position: absolute;
        display: none;
        top: 0;
        left: 0;
        color: white !important;
        &:hover {
          span {
            border-bottom: 1px solid white;
          }
        }
      }
    }
    &-add {
      display: none;
      width: 100%;
      float: bottom;
      position: relative;
    }
  }
}

.resizable-list-item-outer {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
}

.release-list-summary {
  border-bottom: 1px solid $gray-color-2;
  min-height: 300px;
  padding-bottom: 2em;
  &__header {
    width: 100%;
    position: relative;
    margin-bottom: 40px;
    h2 {
      margin-bottom: 0px !important;
      display: inline-block;
    }
    &__more {
      position: absolute;
      right: 0;
      bottom: 0;
      display: flex;
      flex-direction: row;
      color: $gray-color-1;
      &:hover {
        border-bottom: 1px solid $brand-color-green;
        margin-bottom: -1px;
        .right-arrow {
          * path {
            fill: $brand-color-green;
          }
        }
      }
      .right-arrow {
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 8px;
        height: 10px;
        * path {
          fill: $gray-color-1;
        }
      }
      @include media-breakpoint-down(sm) {
        display: none;
      }
    }
    a {
      text-transform: capitalize;
      &:hover {
        text-decoration: none;
        border-bottom: 1px solid $brand-color-green;
      }
    }
  }
}

.releaselist-box {
  padding-top: 4em;
  @include media-breakpoint-down(sm) {
    padding-top: 2em;
    border-bottom: 1px solid $gray-color-2;
  }
}

.release-list-panel {
  border-bottom: 1px solid $gray-color-2;
  padding-bottom: 2em;
}