$font-factor: 0.9;

.release {
  &__button-bar {
    position: relative;
    display: flex;
    margin-top: $font-factor + em;
    .play {
      display: inline-block;
      position: relative;
      margin-right: 10px;
      .play-release-button:hover {
        background-color: $brand-color-black-hover !important;
      }
    }
    &:hover {
      .one {
        visibility: visible;
      }
    }
    &__add-to-cart {
      position: relative;
      background-color: $brand-color-green;
      border-radius: 2px;
      display: inline-block;
      line-height: 48px;
      padding: 0 2rem;
      color: white;
      text-align: center;
      font-size: $font-factor + em;
      vertical-align: top;

      &.one {
        &:before, &:after {
          visibility: hidden;
          opacity: 0;
          pointer-events: none;
        }
        &:before {
          position: absolute;
          bottom: -150%;
          left: 0%;
          margin-left: 0;
          padding: 7px;
          width: 100%;
          -webkit-border-radius: 3px;
          -moz-border-radius: 3px;
          border-radius: 2px;
          background-color: #000;
          background-color: hsla(0, 0%, 20%, 0.9);
          color: #fff;
          background-image: url('~assets/images/warning.png');
          background-repeat: no-repeat;
          background-position-x: 95%;
          background-position-y: 95%;
          content: "This is the last copy and might not be in mint condition!";
          text-align: center;
          font-size: 14px;
          line-height: 1.2;
        }
        &:hover {
          &:before, &:after {
            visibility: visible;
            opacity: 1;
          }
        }
      }
    }
  }
}

.release-detail {
  &__header {
    padding-top: 3.4em;
    padding-bottom: 3.4em;
    display: inline-block;
    font-size: $font-size-sm;
  }
  &__back {
    display: inline-block;
    margin-right: 3em;
    img {
      transform: scaleX(-1);
      margin-right: 10px;
    }
    a {
      margin-left: 0px;
      color: $brand-color-black;
      &:hover {
        color: $brand-color-green;
      }
    }
  }
  &__breadcrumb {
    display: inline-block;
    color: $gray-color-1;
    a {
      color: $gray-color-1;
    }
  }
  &__tracklist {
    padding-left: 4em;
    //padding-bottom: 8em;
    &__item {
      position: relative;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      max-height: 100px;
      vertical-align: middle;
      padding: $global-padding 0;
      border-bottom: none;
      border-top: 1px solid $gray-color-2;
      &:last-child {
        border-bottom: 1px solid $gray-color-2;
      }
      &:hover {
        cursor: pointer;
        color: $link-hover-color;
        .play {
          polygon {
            fill: $brand-color-green !important;
          }
        }
      }
      .title {
        margin-top: auto;
        margin-bottom: auto;
      }
      .play {
        margin-top: auto;
        margin-bottom: auto;
      }
    }
    &__position {
      display: inline-block;
      padding-right: .8em;
      opacity: .5;
    }
    @include media-breakpoint-down(md) {
      padding-left: 15px !important;
      padding-right: 15px !important;
    }
  }
  &__related {
    &__header {
      a {
        color: $brand-color-green
      }
    }
  }
}
