.preheader {
  font-size: $font-size-sm;
  text-transform: uppercase;
}

.dropdown {
  &__button {
    background-color: transparent !important;
    color: $brand-color-black !important;
    padding: 1em !important;
    &__arrow {
      border-top: 5px solid $brand-color-black;
    }
  }
  &__values {
    &__item {
      padding: 1em !important;
    }
  }
}

.burger-menu {
  position: relative;
  padding-left: 1.25em;
  margin: auto;
}
.burger-menu:before {
  content: "";
  position: absolute;
  left: 0;
  top: -0.4em;
  width: 1em;
  height: 0.09em;
  background: $gray-color-2;
  box-shadow:
          0 0.25em 0 0 $gray-color-2,
          0 0.5em 0 0 $gray-color-2,
          0 0.75em 0 0 $gray-color-2;
}

.add-to-cart {
  //height: 1.1em;
}

.link-box {
  pointer: cursor;
  &:hover:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: white;
    opacity: 0.2;
  }
}

.button {
  height: 48px;
  position: relative;
  background-color: $brand-color-green;
  border-radius: 2px;
  display: inline-block;
  line-height: 48px;
  width: 12em;
  color: white;
  text-align: center;
  font-size: $font-factor + em;
  vertical-align: top;
  &:hover:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.1;
  }
}

body {
  overflow-x: hidden;
}

.float-right-bottom {
  margin-top: auto;
  margin-left: auto;
}

.not-active {
  pointer-events: none;
  cursor: default;
}

.md-no-right-padding {
  @include media-breakpoint-up(md) {
    padding-right: 0px;
  }
}

.md-no-left-padding {
  @include media-breakpoint-up(md) {
    padding-left: 0px;
  }
}

.vmargin-auto {
  margin-top: auto;
  margin-bottom: auto;
}

.hmargin-auto {
  margin-left: auto;
  margin-right: auto;
}

.bottom {
  height:auto;
  position:fixed;
  bottom:0;
  left:0;
  right:0;
  padding:0;
  z-index: 10;
}

.close {
  position: relative;
  margin: auto;
  margin-right: 5px;
  width:14px;
  height:14px;
  background:
          -webkit-linear-gradient(-45deg, transparent 0%, transparent 48%, $brand-color-black 48%,  $brand-color-black 52%, transparent 52%, transparent 100%),
          -webkit-linear-gradient(45deg, transparent 0%, transparent 48%, $brand-color-black 48%,  $brand-color-black 52%, transparent 52%, transparent 100%);
}