.table {
  font-weight: normal;
  th {
    background-color: $gray-color-2;
    padding-bottom: $global-padding;
    padding-top: $global-padding;
    font-weight: normal;
    font-size: $font-size-sm;
    text-transform: uppercase;
  }
  td, th {
    padding-left: $global-padding * 2;
    padding-right: $global-padding * 2;
  }
  td {
    font-size: 16px;
    line-height: 32px;
  }
  tr {
    height: 55px;
    cursor: pointer;
    &:hover {
      background-color: darken(white, 3);
    }
  }
  .detail-btn {
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 2px;
    font-size: $font-size-sm;
    color: white;
    opacity: 1;
    text-shadow: none;
    font-weight: 300;

    .text {
      padding: 0px 14px;
      line-height: 24px;
    }
    &.close {
      background-color: $brand-color-black;
      &:hover {
        background-color: lighten($brand-color-black, 10)
      }
    }
    &.view {
      background-color: $brand-color-green;
      &:hover {
        background-color: darken($brand-color-green, 10)
      }
    }
  }
}